   <!--Script Section-->
   <script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></script>


   <script src="/Scripts/app.js"></script>
   <script src="/Content/contact.js"></script>
   <link rel="stylesheet" href="public\Content\app.css" type="text/css">
</body>
</html>