<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<body>
<!--<div class="container-fluid bg-1">
<h3 class="text-center">Who am I?</h3>
<img src="/Assets/images/photo_of_me.jpg" class="img-circle" alt="Photo of Ikamjot Hundal">
</div>
<div class="container-fluid bg-2">
<p class="text-center">I am currently a student at Centennial College for "Game Programming."</p>
</div>
<div class="container-fluid bg-3">
    <p class="text-center">You can take a look at my resume here!</p>
    </div>-->
<div class>
    <h4 class="orange">About Me</h4>
    <div class="mx-auto" style="max-width: 1000px;">
        <div class="border">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="/Assets\images/photo_of_me.jpg" width="200" class="img-fluid rounded-start" alt="Image of Ikamjot Hundal">
          </div>
          <div class="col-md-6">
              <p>My Name is Ikamjot Singh Hundal. I likes to play games.</p>
            </div>
          </div>
        </div>
      </div>
</div> 

</body>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>