<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<body>
  <!--About Me Section-->
<div>
    <h4 class="orange">About Me</h4>
    <div class="mx-auto" style="max-width: 1000px;">
        <div class="border">
        <div class="row g-2">
          <div class="col-md-4">
            <img src="/Assets\images/photo_of_me.jpg" width="200" class="img-fluid rounded-start" alt="Image of Ikamjot Hundal">
          </div>
          <div class="col-md-6">
              <p>Hello! My name is Ikamjot Hundal! I am enrolled in "Game - Programming" at Centennial College. 
                As part of my passion, I often pursue creating small video games! I got hooked on it by experimenting with Unity Game Engine in a Tech Club during my school years. 
                Of course--along with this journey of mine-- I gained experiences in C#, designing the 2D levels, and what audiences would like-- however, I am still learning non-stop. 
                Moreover, thank to a year at Centennial College, I was able to further learn about C#, HTML, CSS, JS. 
              </p>
              <a class="btn btn-light" href="/Assets/images/Documents/Hundal, Ikamjot- Resume 2021.pdf" role="button"><i class="fa fa-download"></i> Download my resume here!</a>
              <p></p>
           </div>
        </div>
        </div>
    </div>
</div> 
</body>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>