<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container" style="background-color: lightgray">
    <div class="jumbotron">
      <h1 class="display-4">My Contact information</h1>
    </div>
    </main>

    
<ul class="list-group">
  <li class="list-group-item">My contacts</li>
  <li class="list-group-item">Email: <a href="ikam.hundal@gmail.com">ikam.hundal@gmail.com</a></li>
  <li class="list-group-item">Phone Number: (647)-533-9063</li>
</ul>




<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>