<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<body>
  <div class="border">
  <div class="card-group">
    <div class="card">
        <img src="/Assets/images/zelda_clone_cover.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Zelda-like Project</h5>
                <p class="card-text">This was an attempt at making a game similar to a title named "The Legend of Zelda: A Link to the Past"
                  I implemented a state machine for enemy where they:</p>
                  <p>Will sleep when they do not detect the player </p> 
                  <p> begin the chase when they detect the player </p>
                  <p>Will stagger when hit by the player
                  </p> 
              </div>

            </div>
            <div class="card">
              <img src="/Assets/images/Origins_Falls.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Origins Falls</h5>
                <p class="card-text">This is an ongoing group effort game project. We are attempting to create a down-scroller game where the character is an experiment that is escaping from the governmental facility.</p>
              </div>
            </div>

            <div class="card">
              <img src="/Assets/images/Detechtive-Noir.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">De-Techtive-Noir</h5>
                <p class="card-text">This was a group effort game project. 
                  This game is based on the future but with 60s culture. 
                  Furthermore, it revolves around a detective whose job is to investigate a murder scene that occurred a few hours. 
                  To solve it, you would have to search for clues and talk to the witnesses.</p>
              </div>
            </div>
          </div>
        </div>
</body>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>