<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<div class="container-fluid bg-2">
    <p class="text-center">I offers:</p>
    <p class="text-center">General Programming</p>
    <p class="text-center">Implements game functionalities on Unity: Game Engine</p>
    <p class="text-center">Develop webpages</p>
    </div>
</body>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>