/* custom css goes here */
.display-4
{
    text-align: center;
}

.bg-1
{
    background-color: #1abc9c;
    color: #ffffff;
}

.bg-2
{
    background-color: #474e5d;
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; 
    color: #555555;
  }

.img-circle
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

h6
{
    text-align: center;
}

.banner
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: 4px 3px 8px 1px #c5c5c5;
    -webkit-box-shadow: 4px 3px 8px 1px #c5c5c5;
}

.border
{
    border: 1px solid white;
    box-shadow: 4px 3px 8px 1px #c5c5c5;
    -webkit-box-shadow: 4px 3px 8px 1px #c5c5c5;
}

body
{
    background-color: #3d4349;
    color: #ffffff;
}

.card
{
    background-color: #3d4349;
}

.orange
{
    color: orange;
    text-align: center;
}

.cardbody
{
    background-color: #3d4349;
}

.list-group-item
{
    background-color: #3d4349;
    color: white;
}
