/* custom css goes here */
.display-4
{
    text-align: center;
}

.bg-1
{
    background-color: #1abc9c;
    color: #ffffff;
}

.bg-2
{
    background-color: #474e5d;
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; 
    color: #555555;
  }

.img-circle
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

