/* 
Filename: app.css
Name: Ikamjot Singh Hundal
StudentID: 301134374
Date: September 30th, 2021
*/
.display-4
{
    text-align: center;
}



.banner
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: 4px 3px 8px 1px #c5c5c5;
    -webkit-box-shadow: 4px 3px 8px 1px #c5c5c5;
}

.border
{
    border: 1px solid white;
    box-shadow: 4px 3px 8px 1px #c5c5c5;
    -webkit-box-shadow: 4px 3px 8px 1px #c5c5c5;
    background-color: #4e5153;
    width: 80%;
    margin: auto;
}

body
{
    background-color: #3d4349;
    color: #ffffff;
}

.card
{
    background-color: #4e5153;
}

.orange
{
    color: orange;
    text-shadow: 2px 2px 4px white;
    text-align: center;
    padding: 5px;
}

.cardbody
{
    background-color: #3d4349;
}

.list-group-item
{
    background-color: #3d4349;
    color: white;
}

.center
{
    text-align: center;
}

footer
{
    padding-top: 100px;
}

.row
{
    padding: 1%;
}